@model ThemeParkApplication.Models.Closures

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Closures</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClosureId" class="control-label"></label>
                <input asp-for="ClosureId" class="form-control" />
                <span asp-validation-for="ClosureId" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="ConcId" class="control-label"></label>
                <select asp-for="ConcId" class="form-control" asp-items="ViewBag.ConcId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AttrId" class="control-label"></label>
                <select asp-for="AttrId" class="form-control" asp-items="ViewBag.AttrId"></select>
            </div>                
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
            <label asp-for="Reason" class="control-label"></label>
            <select asp-for="Reason" class="form-control" asp-items="ViewBag.Reason"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateClosure" class="control-label"></label>
                <input asp-for="DateClosure" class="form-control" />
                <span asp-validation-for="DateClosure" class="text-danger"></span>
            </div>
        </div>
  
        </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
