@model ThemeParkApplication.Models.Closures

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Closures</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClosureId" />
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <select asp-for="Reason" class="form-control" asp-items="ViewBag.Reason"></select>
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcId" class="control-label"></label>
                <select asp-for="ConcId" class="form-control" asp-items="ViewBag.ConcId"></select>
                <span asp-validation-for="ConcId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttrId" class="control-label"></label>
                <select asp-for="AttrId" class="form-control" asp-items="ViewBag.AttrId"></select>
                <span asp-validation-for="AttrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateClosure" class="control-label"></label>
                <input asp-for="DateClosure" class="form-control" />
                <span asp-validation-for="DateClosure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationClosure" class="control-label"></label>
                <input asp-for="DurationClosure" class="form-control" />
                <span asp-validation-for="DurationClosure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
