@{
    ViewData["Title"] = "About";
}

<br /><br />
<h2>@ViewData["Title"]</h2>
<h3>Databases Project</h3>

<p>A group project created for the Spring 2018 Databases class at the University of Houston.</p>
