@{
    ViewData["Title"] = "Contact";
}

<br /><br />
<h2>@ViewData["Title"]</h2>
<h3>COSC 3380 Databases Project</h3>

<address>
    Contact information.<br />
</address>

<address>
    <strong>Your name:</strong> <a href="mailto:YourEmail">Your Email</a><br />
    <strong>giang Ha:</strong> <a href="mailto:giangha179@yahoo.com">Your Email</a><br />
    <strong>Jason Hachach:</strong> <a href="mailto:jason.hachach18@yahoo.com">Your Email</a><br />
    <strong>Harrison Hayes:</strong> <a href="mailto:harrisonhayes97@yahoo.com">harrisonhayes97@yahoo.com</a><br />
    <strong>Navin Ghimire</strong> <a href="mailto:ghimire.navin@gmail.com">ghimire.navin@gmail.com</a>
</address>
