@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>COSC 3380 Databases Project</h3>

<address>
    Contact information.<br />
</address>

<address>
    <strong>Your name:</strong> <a href="mailto:YourEmail">Your Email</a><br />
    <strong>Your name:</strong> <a href="mailto:YourEmail">Your Email</a><br />
    <strong>Your name:</strong> <a href="mailto:YourEmail">Your Email</a><br />
    <strong>Harrison Hayes:</strong> <a href="mailto:harrisonhayes97@yahoo.com">harrisonhayes97@yahoo.com</a><br />
    <strong>Your name:</strong> <a href="mailto:YourEmail">Your Email</a>
</address>
