
@{
    ViewData["Title"] = "Concessions";
}

@using Microsoft.AspNetCore.Identity
@using ThemeParkApplication.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ThemeParkApplication.Models.Transactions>
<!--
<style>
    #myfooter {
        display: none;
    }
</style>

-->
@if (SignInManager.IsSignedIn(User))
{
    <a asp-action="MonthlyCustomer">Monthy Average Customer</a>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <title>Index</title>
    </head>
    <body>
        <div id="chartContainer"></div>

        <script type="text/javascript">

		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer", {
				theme: "theme2",
				animationEnabled: true,
				title: {
                    text: "Weekly Average Customer"
				},
				data: [
				{
					type: "line", //change type to bar, line, area, pie, etc

					dataPoints: @Html.Raw(ViewBag.dataWeekly)
				}
				]
			});
			chart.render();
		};
        </script>



    </body>
</html>


}
else
{



<div class="jumbotron text-center">
    <h1>Welcome to Our Theme Park</h1>
    <p class="lead">This is a database project as part of Junior year database course at University of Houston for Spring 2018.</p>
    <a class="btn btn-lg btn-primary" href="attractions" role="button">View our attractions >></a>
</div>
<div class="container">
    <div class="row justify-content-sm-center">
        <h4><span class="badge badge-info">Meet Team <span class="badge badge-light">4</span></span></h4>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class="card bg-light mr-2" style="width: 12rem;">
            <img class="card-img-top" src="~/images/user2.svg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Giang Ha</h5>
                <p class="card-text">giangha179@yahoo.com</p>
            </div>
        </div>
        <div class="card mr-2" style="width: 12rem;">
            <img class="card-img-top" src="~/images/user3.svg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Jason Hachach</h5>
                <p class="card-text">jason.hachach18@yahoo.com</p>
            </div>
        </div>
        <div class="card bg-light mr-2" style="width: 12rem;">
            <img class="card-img-top" src="~/images/user4.svg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Harrison Hayes</h5>
                <span class="badge badge-pill badge-info"></span>
                <p class="card-text">harrisonhayes97@yahoo.com
            </div>
        </div>
        <div class="card mr-2" style="width: 12rem;">
            <img class="card-img-top" src="~/images/user2.svg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Matthew Garza</h5>
                <p class="card-text">matthew@somemail.com</p>
            </div>
        </div>
        <div class="card bg-light mr-2" style="width: 12rem;">
            <img class="card-img-top" src="~/images/user3.svg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Navin Ghimire</h5>
                <p class="card-text">ghimire.navin@gmail.com</p>
            </div>
        </div>
    </div>
    <hr />

</div>
}
<!--

<div id="front-page">
    <div id="background-img">
    </div>
    <div id="front-text">
        <div>
            <strong id="title">Welcome To our ThemePark!</strong>
        </div>
    </div>
</div>

-->
