@{
    ViewData["Title"] = "Home Page";
}
    <div id="front-page">
        <div id="background-img">
        </div>
        <div id="front-text">
            <div>
                <strong id="title">Welcome To our ThemePark!</strong>
            </div>
        </div>
    </div>
