@model ThemeParkApplication.Models.Maintenance

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Maintenance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WorkOrderId" />
            <div class="form-group">
                <label asp-for="OrderType" class="control-label"></label>
                <select asp-for="OrderType" class="form-control" asp-items="ViewBag.OrderType"></select>
                <span asp-validation-for="OrderType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcId" class="control-label"></label>
                <select asp-for="ConcId" class="form-control" asp-items="ViewBag.ConcId">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="ConcId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttrId" class="control-label"></label>
                <select asp-for="AttrId" class="form-control" asp-items="ViewBag.AttrId">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="AttrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceEmployeeId" class="control-label"></label>
                <select asp-for="MaintenanceEmployeeId" class="form-control" asp-items="ViewBag.MaintenanceEmployeeId"></select>
                <span asp-validation-for="MaintenanceEmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkStatus" class="control-label"></label>
                <select asp-for="WorkStatus" class="form-control" asp-items="ViewBag.WorkStatus"></select>
                <span asp-validation-for="WorkStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkStartDate" class="control-label"></label>
                <input asp-for="WorkStartDate" class="form-control" />
                <span asp-validation-for="WorkStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkFinishDate" class="control-label"></label>
                <input asp-for="WorkFinishDate" class="form-control" />
                <span asp-validation-for="WorkFinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
